  /* main */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .main {
    display: flex;
    font-size: 12px;
    line-height: 16px;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding: 4px;
    background-color: rgb(65, 151, 221);
  }
  
  @media screen and (min-width: 960px) {
    .main {
      padding: 4px;
    }
  }


  .sub-main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    max-width: 1440px;
  }
  
  @media screen and (min-width: 960px) {
    .sub-main {
      flex-direction: row;
    }
  }